body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #110a0a;
}

.navbar-brand {
  font-weight: bold;
  padding-left: 100px;
}

.collapse{
  padding-right: 100px;
}

.section-title {
  margin-bottom: 30px;
}

.home {
  height: 100vh;
  color: #110a0a;
}

.home h1 {
  font-size: 3rem;
}

.home .text {
  color: #007bff;
}

.about{
  color: #110a0a;
}

.contact{
  color: #110a0a;
}

.about img, .home img {
  max-width: 100%;
  border-radius: 10px;
}

.about h2 span, .portfolio h1 span, .services h1 span, .skills h1 span, .contact h1 span {
  color: #007bff;
}

.about p, .services p {
  margin: 20px 0;
}

.skills-background {
  background-color: rgba(255, 255, 255, 1.4); 
  padding: 20px;
  border-radius: 10px; 
}


.skills .progress-bar {
  transition: width 1s ease;
}

.social-icons a {
  font-size: 2rem;
  margin: 0 10px;
  color: #007bff;
}

.social-icons a:hover {
  color: #007bff;
}

.contact .contact-info {
  margin-top: 30px;
}

footer {
  background: #333;
  color: #fff;
}
